<!DOCTYPE html>
<html>
    
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <style>
        body{
            background-image: url("background3.jpg");
            background-size: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            color: white;
        }
    </style>
</head>

<body ng-app="todoApp" ng-controller="todoControl">

    <h2>My Todo List</h2>
    <div class="inBox">
        <form ng-submit="add()">
            <input type="text" ng-model="input" size="40" placeholder="what do you want to do ?">
            <input type="submit" value="Add">
        </form>

        <br>
        
        
        <div ng-repeat="x in list">
            <input type="checkbox" ng-model="x.done"> <span ng-bind="x.content"></span>
        </div>

        <p><button ng-click="selectAll()">select all</button>        <button ng-click="delete()">delete selected</button></p>
    </div>
        
    <script>
        var app = angular.module('todoApp', []); 
        app.controller('todoControl', function($scope) {
            $scope.list = [];

            $scope.add = function() {
                if($scope.input != ""){
                    $scope.list.push({content:$scope.input, done:false});
                    $scope.input = "";
                }
            };

            $scope.delete = function() {
                var tempList = $scope.list;
                $scope.list = [];
                angular.forEach(tempList, function(x) {
                    if (!x.done) $scope.list.push(x);
                });
            };
            
            $scope.selectAll = function(){
                var tempList = $scope.list;
                $scope.list = [];
                angular.forEach(tempList, function(x){
                    x.done = true;
                    $scope.list.push(x);
                });
            };
        });
</script>

</body>
</html>
